#load assets database config
dsn         = dbi:Pg:dbname=quake3webapp;host=localhost
user        = quake3webapp
pass        = qoeiroakdjo234;adf
search_path = webapp

root_dir    = ~/Projects/IOQuake3/ioq3wasm/approot
