approot/*
bin/approot/gen_filelist_from_map
bin/approot/loadmd3
bin/approot/nonexistant_assets.txt
bin/approot/notes/
bin/approot/preload_misses.pl
bin/approot/run
bin/approot/src/gen_filelist_from_map
bin/approot/src/parse_map.zip
bin/old/
branding/Gemini_Generated_Image_94w01b94w01b94w0.jpg
branding/Gemini_Generated_Image_9y53ks9y53ks9y53.jpg
branding/Gemini_Generated_Image_fx7hpjfx7hpjfx7h.jpg
code/.gitignore
code/.vscode/
code/.ycm_extra_conf.py
code/Cmd_AddCommand.cmds.txt
code/sfind
code/tags
code/client_tags
code/cscope_client.out
code/cscope_server.out
code/server_tags
web/proxy/proxy.cfg
web/webserver/Quake3WebApp/conf/lighttpd.conf
web/webserver/Quake3WebApp/config.yml
media/ding.mp3
media/ding2.wav
media/dingnochunk.wav
media/dingsox.wav
notes/
rsync_client_to_linode
web/proxy/.gitignore
web/proxy/.ycm_extra_conf.py
web/proxy/b12f764f-9772-4dfa-b9b2-c59b8cf9104a.cfg
web/proxy/killproxy
web/proxy/test_suite.pl
web/security/cert.pem
web/security/key.pem
web/security/quake3.now-ssl-bundle.zip
web/security/quake3.now-ssl-bundle/
web/security/selfsignprivate.pem
web/security/selfsignpublic.pem
web/webserver/.gitignore
web/webserver/Notes
web/webserver/Quake3WebApp/DBCHANGES
web/webserver/Quake3WebApp/bin/domain.cert.pem
web/webserver/Quake3WebApp/bin/private.key.pem
web/webserver/Quake3WebApp/db/TODO_BACKUP_DB
web/webserver/Quake3WebApp/db/load_config.sh
web/webserver/Quake3WebApp/db/q3config.cfg
web/webserver/Quake3WebApp/db/q3config.cfg.sql
web/webserver/Quake3WebApp/db/q3config_server.cfg
web/webserver/Quake3WebApp/db/q3config_server.cfg.sql
web/webserver/Quake3WebApp/db/quake3webapp.dbm
web/webserver/Quake3WebApp/lib/
web/webserver/Quake3WebApp/logs/Quake3WebApp.log
web/webserver/Quake3WebApp/logs/development.log

