#//https://redmine.lighttpd.net/boards/2/topics/1833
#//https://redmine.lighttpd.net/projects/lighttpd/wiki

server.modules += ("mod_fastcgi")
server.document-root = "/home/<you>/Projects/Games/Quake3/IOQuake3/ioq3wasm/web/webserver/quake3webapp"
server.port = 8000

# look at /etc/lighttpd/lighttpd.conf

fastcgi.server = (
    ".cgi" => ( 
        # suffix-match if it starts with "." 
        # List of servers load-balanced by Lighttpd 
        (   
            "host" => "localhost", # FastCGI over TCP/IP
            "port" => 1234
        ), 
        # FastCGI over UNIX domain sockets 
        (   "socket" => "/home/<you>/Projects/Games/Quake3/IOQuake3/ioq3wasm/web/webserver/quake3webapp/var/sock/lighttpd-fcgi.sock" ), 

        # FastCGI application started by Lighttpd 
        (   
            "bin-path" => "/usr/bin/perl",
            "docroot" => "/home/<you>/Projects/Games/Quake3/IOQuake3/ioq3wasm/web/webserver/quake3webapp"
        ) 
    ), 
    "/cgi-bin" => ( 
        # prefix-match if it starts with "/" 
        ( 
            "bin-path" => "/usr/bin/perl", "broken-scriptfilename" => "enable", 
            "min-procs" => 1, 
            "max-procs" => 4, # ... other options folllow
            "port" => 8000
        )
    )
)
